.adminAddTheme{
    width: 70%;
    height: auto;
    max-width: 900px;
    margin: 50px auto;
    border: 4px solid #c4b004;
    border-radius: 15px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
}


.adminAddTheme button{
    width: 160px;
    align-self: flex-end;
    background-color: yellow;
    border-radius: 7px;
}

.adminAddTheme button:hover{
    background-color: rgb(236, 236, 117);
}

.addTopicBtn{
    background-color: yellowgreen !important;
}
.addTopicBtn:hover{
    background-color: rgb(183, 243, 64) !important;
}


.adminPanel{
    margin: 10px auto;
    text-align: center;
}

.adminPanelBtn{
    margin: 20px !important;
    background-color: yellowgreen !important;
}

.btn1{
    background-color: yellow !important;
}

